


  html{
    scroll-behavior: smooth;
  }
  
  body{
    font-size: 20px;
    line-height: 1.15;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  main{
    padding:5px
  }

  
  p{

    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  h1{
    /* font-size: 32px;
    line-height: 1;
    padding: 25px 15px 10px 15px; */
    /* text-align: center; */
    /* font-weight:bold; */
    color:#00274c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 36px;
    line-height: 1;
    padding: 25px 0;
    text-align: center;
    font-weight:bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2{
    font-size: 26px;
    line-height: 1.5;
    padding-top:10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top:10px;
    padding-bottom: 7px;
    padding-left:10px
  }

  nav{
    background-color: #00274c;
    padding: 25px 5px; 
    text-align: left;
    /* position: relative;
    justify-items: center;
    justify-content: center; */

  }

  nav li{
    display:inline;
    padding-right:20px;
    
  }
  
  nav a{
    color: white;
    text-decoration: none; 
  }

  #picture1{
    bottom:0;
    margin:0;
  }

  .slogan{
    background-color: #6E6E51;
    color: white;
    padding-bottom:10px;
    position: relative;
    display:block;
    margin-top:70px;
  }
  #pantry{
    padding-bottom:0px;
  }
  .slogan h2{
    font-size: 18px;
  }
  #food{
    width:100px;
    height: auto;
  }
  .pantry_head{
    display:grid;
    grid-template-columns: 75% 25%;
  }
  .maan{
    color:#6E6E51;

  }
  #maan_p{
    padding:15px;
  }
  section p{
    padding-left:10px;
  }


  .slogan p{
    padding-left:10px;
  }
  #slogan-text{
    padding-left: 10px;
    padding-top:10px;
  }
  .ssp{
    color:white;
    font-size:25px;
    padding-left:10px;
    text-align:left;
  }
  #first_h2{
    text-align: center;
    color:#00274c;
    padding-bottom:10px;
  }
  .resource{
    display: grid;
    grid-template-columns:repeat(2, 50%);
  }
  .resource li{
    grid-column:auto;
    gap:10px;
    padding:10px;
  }
  .resource li:hover{
    font-weight: bold; 
  }

  .introduce{
    background-color:rgb(47,101,167);
    color:white;
    padding:0px;
    margin-top:10px

  }
  .introduce p{
    color:white;
    padding-left:15px;
    padding-top: 0;
    padding-bottom:5px;
    margin:0px;
    font-size:14px
  }

  figcaption {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景，使文字更清晰 */
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 2px; /* 圆角，可选 */

  }
  figure{
    margin-bottom:20px;
    padding:0px;
    align-items:end;
    display:flex;

  }
  .mh_grid{
    display:grid;
    grid-template-columns:repeat(2, 50%);
  }

  .mh_grid article{
    padding:5px;
    margin:5px;
    border-left:2px solid black;
  }

  section{
    padding:10px;
    border-bottom: 3px solid rgb(212,212,212) 
  }

  section li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-left:15px;
  }
  a{
    color:rgb(25,25,112);
    text-decoration-line: underline;
  }
  footer a{
    color:white;
  }
  .cew{
    padding:10px 10px;
  }
  .ca{
    display:grid;
    grid-template-columns: 1fr;

  }
  .ca a{
    text-align: center;
    background-color:beige;
    margin:5px;
    text-decoration-line:none ;
  }

  
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  .active{
    font-weight: bold;         /* Bold text for the active link */
    border-radius: 5px;  
  }
  
  img{
    margin:0 0 0 0;
    padding: 0 0 0 0;
    display: block;

  }
 
  
  
  footer{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
  
  
  .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
  }
  
  
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
  }
  

  
  nav a:hover,
  nav a:focus {
      text-decoration: underline;
  }
  

  .skip a {
      position: absolute;
      top: -40px;
      left: 0;
  }
  
  .skip a:focus {
    top: 20px;
    z-index: 1000000;
  }
  .container h1{
    text-align: center;
    font-size: 40px;
    padding-top:100px;
  }
  .container p{
    text-align: center;
    font-size: 40px;
  }

  .logo {
    padding: 0px;
    margin: 0px;
    width:70px;
    height:70px;
    position: absolute;
    right: 0; /* 紧贴右边 */
    top:0;
  }

  #life-outside-classroom li{
    padding-bottom:10px;
  }
  nav{
    position: fixed;
    top: 0;   
    width: 100%;          /* 占满屏幕宽度 */
    z-index: 1000; 
  }
  #food2{
    display:none;
  }


  @media screen and (min-width: 500px){
    #home_text{
      background-color: white;
    }
    #slogan-text{

      position: absolute; /* 文字层绝对定位在容器内 */
    top: 50%; /* 根据需要设置文字层的位置 */
    left: 50%;
    transform: translate(-50%, -50%); /* 让文字居中 */
    color: white; /* 设置文字颜色，使其在图片上清晰可见 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景，增强可读性 */
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    }
    #picture1{
      opacity: 0.7;
      position: relative;
    }
    .resource{
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr;
    }
    .index_grid{
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:10px;
    }
    #food{
      width:200px;
      display:none;
    }
    .pantry_grid{
      display:grid;
      grid-template-columns: 1fr 1fr;
      justify-items: end;
      align-items: center;
    }
    #food2{
      width:200px;
      display:flex
      
    }
    .pantry_news{
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:5px

    }
    .cew_events{
      display:grid;
      grid-template-columns: 1fr 1fr;
      gap:5px
    }
    #ARS_head_pic{
      opacity: 0.7;
      position: relative;
    }
    #ARS_header{
      position: absolute; /* 文字层绝对定位在容器内 */
    top: 50%; /* 根据需要设置文字层的位置 */
    left: 50%;
    transform: translate(-50%, -50%); /* 让文字居中 */
    color: white; /* 设置文字颜色，使其在图片上清晰可见 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景，增强可读性 */
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    }

    #ars_text{
      background-color: white;
    }









  }